// SIMPLE GRID - SASS/SCSS

// fonts
$font-family: "Lato", arial, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans

// universal

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}
body {
  overflow-x: hidden;
}

* {
  font-family: $font-family;
  color: $dark-grey;
  line-height: $font-height;
}

// typography

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: $font-weight-regular;
  line-height: 1.8;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

// grid

$device-xs: 400px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1em;

  @media (min-width: $device-xs) {
    max-width: $device-xs;
  }

  @media (min-width: $device-sm) {
    max-width: $device-sm;
  }

  @media (min-width: $device-md) {
    max-width: $device-md;
  }

  @media (min-width: $device-lg) {
    max-width: $device-lg;
  }

  &.small {
    width: 90%;

    @media only screen and (min-width: $device-sm) {
      width: 80%;
    }

    @media only screen and (min-width: $device-md) {
      width: 75%;
      max-width: 60rem;
    }
  }
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.row.align-v-center {
  align-items: center;
}

.row.align-v-bottom {
  align-items: flex-end;
}

.row.align-h-center {
  justify-content: center;
}

.row.align-h-right {
  justify-content: flex-end;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.stretch [class^="col"] {
  display: flex;
  flex-grow: 1; /* NEW */
}

[class^="col"] .row {
  margin: 0 -2%;
}

@for $i from 1 through 12 {
  .col-xs-#{$i},
  .col-sm-#{$i}, .col-#{$i},
  .col-md-#{$i},
  .col-lg-#{$i} {
    min-height: 0.125rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 2%;
  }

  body {
    .col-xs-#{$i} {
      @media (min-width: $device-xs) {
        width: calc(100% * (#{$i} / 12));
      }
    }

    .col-sm-#{$i}, .col-#{$i} {
      @media (min-width: $device-sm) {
        width: calc(100% * (#{$i} / 12));

        &.hidden-sm {
          display: block;
        }
      }
    }

    .col-md-#{$i} {
      @media (min-width: $device-md) {
        width: calc(100% * (#{$i} / 12));
      }
    }

    .col-lg-#{$i} {
      @media (min-width: $device-lg) {
        width: calc(100% * (#{$i} / 12));
      }
    }
  }
}

.col {
  @extend .col-1;
  width: fit-content;
}